// custom
$dark-blue: #082735;
$light-blue: rgb(0, 188, 212);
$white: #FFFFFF;
$yellow: rgb(255, 213, 79);
$green: rgb(76, 175, 80);
$red: rgb(244, 67, 54);


// react-md
$md-primary-color: #36459b;
$md-secondary-color: #D9EB0F;
$md-font-name: 'Work Sans' !default;
$md-light-theme-background-color: #000 !default;